* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Retroica";
    src: url(fonts/Retroica.ttf);
}

body {
    text-align: center;
    font-family: Retroica;
    perspective: 1000px;
    background-color: #fcd412;
}




/* -- General -- */
section {
    position: relative;
    margin: 0 auto 200px auto;
    display: flex;
    width: 1200px;
    max-width: 90%;
}

h1 {
    color: black;
    font-size: 50px;
    text-transform: uppercase;

    margin-top: 50px;
}

h2 {
    color: rgba(30, 30, 30, 1);
    font-size: 42px;
    font-weight: normal;
    line-height: 120%;
    margin: 0 auto 20px auto;
}

p {
    color: rgba(30, 30, 30, 1);
    font-size: 22px;
    line-height: 140%;
    margin-top: 3vh;
}

a {
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    transition: .2s;
}

a:hover {
    color: #fcd412;
}

img {
    width: 600px;
    max-width: 50%;
}





/* -- Nav -- */
nav {
    height: 10vh;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    list-style: none;
}

nav li+li {
    margin-left: 2em;
}

nav a {
    position: relative;
    color: black;
}

nav a:hover {
    color: black;
}

/* Hover underline animation */
nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

nav a.active {
    color: white;
    font-size: 30px;
    transition: .5s ease-in-out;
}

nav a.active::before {
    background-color: black;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.4s ease-in-out 0s;
}

nav a.active:hover::before {
    background-color: white;
}

nav a.active:hover {
    color: black;
}




/* -- Footer -- */
footer div:first-of-type {
    height: 460px; 
    background-color: rgba(240, 240, 240 , 1);
}

footer div:nth-of-type(2) {
    position: absolute;
    bottom: -50px;
    left: 0;
    
    width: 100%;
    background-color: white;
    height: 50px;
}

footer h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-out .7s;

    color: rgba(190, 190, 190, 1);
    font-size: 100px;
}

footer h2.foot {
    transform: translateY(210px);
}

footer ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 80%;

    display: flex;
    justify-content: space-between;

    list-style: none;
}



/* --- Homepage --- */
#homepage h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: .15em;
    margin-top: 0;
}

#homepage h2 {
    max-width: 800px;
    margin: auto auto;
}

#homepage div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

#homepage img {
    width: 40%;
}

#homepage section {
    width: 100%;
    margin-bottom: 0;
    display: block;
}

#homepage section+section {
    margin-top: 15vh;
    margin-bottom: 35vh;
}




/* --- Web Dev & Concept Design --- */
.projects div {
    width: 50%;
}

.projects p {
    margin: auto auto;
    width: 90%;
}

.projects a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projects section:first-of-type {
    margin-top: 50px;
}