body {
	perspective: 1000px;
}

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 0.15em;
	margin-top: 0;
	pointer-events: none;
	font-size: min(9.09vw, 50px);
}

h2 {
	margin: auto auto;
	font-size: min(5.25vw, 42px);
}

#homepage div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	max-height: 750px;
}

img {
	width: 90%;
	max-width: 625px;
	user-select: none;
}

section {
	width: 100%;
	max-width: 100%;
	margin-bottom: 0;
	display: block;
}

section + section {
	margin-top: 15vh;
	margin-bottom: 35vh;
}

main p {
	font-size: min(2.75vw, 22px);
}
